:root{
--Red: hsl(0, 100%, 68%);
--Very-Dark-Blue: hsl(230, 29%, 20%);
--Dark-Grayish-Blue: hsl(230, 11%, 40%);
--Grayish-Blue: hsl(231, 7%, 65%);
--Light-Grayish-Blue: hsl(207, 33%, 95%);
--font-400: 400;
--font-700: 700;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
         font-size: 62.5%;
         overflow-x: hidden;
}

body{
    font-size: 1.8rem;
    padding: 0 3rem;
    overflow-x: hidden;
}

body::before{
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   width: 50%;
   height: 60vh;
   z-index: -1;
   border-bottom-left-radius: 7rem;
   background-color: var(--Light-Grayish-Blue);
}

.container{
    max-width: 110rem;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

/* start of header */

.header{
    display: flex;
    align-items: center;
    /* padding: 5rem 0; */
    height: 20vh;
    font-family: 'Barlow Condensed', sans-serif;
}

.header__logo_wrapper{
    margin-right: auto;
}

.header__nav__list{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header__nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Very-Dark-Blue);
    font-weight: var(--font-700);
    display: inline-block;
    padding: 0 2rem;
}

.header__nav__link::after{
    content: '';
    width: 0%;
    height: 0.1rem;
    display: block;
    background-color: var(--Very-Dark-Blue);
    transition: 0.3s;
}

.header__nav__link__login::after{
    background-color: var(--Grayish-Blue);
}

.header__nav__link__login{
    color: var(--Grayish-Blue);
    padding-right: 0;
}

.header__nav__links_divider{
     width: 0.6rem;
     height: 0.6rem;
     background-color: var(--Grayish-Blue);
     border-radius: 50%;
     margin: 0 3rem;
}

.header__nav__link:hover::after{
    width: 100%;
}

.header__nav__link__login:hover::after{
    width: 100%;
}

.header__hamburger__img{
    display: none;
    cursor: pointer;
}

/* End od header */


.hero{
    display: flex;
    height: 80vh;
    align-items: center;
}

.hero__wrapper{
    width: 90%;
}

.hero__text{
   width: 50%;
   margin-top: -6rem;
}

.hero__image_wrapper{
   width: 50%;
}

.btn{
    font-family: 'Barlow Condensed', sans-serif;
    cursor: pointer;
}

.hero__text__com{
    letter-spacing: 0.4rem;
    color: var(--Grayish-Blue);
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
}

.hero__label__btn{
    padding: 0 0.8rem;
}
.hero__hightlight__btn{
    background-color: var(--Very-Dark-Blue);
    border-radius: 1.5rem;
    color: white;
    padding: 0 0.8rem;
}

.hero__heading{
    font-size: 5.5rem;
    font-weight: var(--font-700);
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--Very-Dark-Blue);
    margin: 1rem 0;
}
.hero__desc{
    font-family: 'Barlow', sans-serif;
    color: var(--Dark-Grayish-Blue);
    margin: 2.5rem 0;
    width: 60%;
}

.hero__text_preview{
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.cta__btn{
    background-color: var(--Red);
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 4rem;
}

.cta__btn:hover{
    background-color: rgba(255, 92, 92 , 0.8);
}

@media screen and (max-width: 600px){


    /* header for mobile */
    .header__hamburger__img{
        display:  block;
    }

    .header{
        position: relative;
    }

    .header__nav{
     display: none;   
     position: absolute;
     background-color: white;
     padding: 2.5rem 4rem;
     width: 100%;
     bottom: -23rem;
     box-shadow: -0.4rem 0.7rem 2.8rem 0.1rem rgba(0,0,0,0.36);
    }

.header__nav__display{
    display: block;
}

    .header__nav__list{
        flex-direction: column;
    }
.header__nav__link{
    padding: 0;
}

.header__nav__links_divider{
    width: 100%;
    height: 0.15rem;
    border-radius: 0;
}

.header__nav__list li:not(:last-child){
    margin-bottom: 2.5rem;
}
/* end of header for mobile */


}

@media screen and (max-width: 900px){
    .hero__wrapper{
        width: 100%;
    }
    .hero__text {
        margin-top: 0;
    }
}

